<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Spittr</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
</head>
<body>


	<h1>Welcome to Spittr</h1>
	<a th:href="@{/spittles}">Spittles</a>
	<a th:href="@{/spitter/register}">Register</a>

	<p>
	<h3>Your Profile</h3>
	<label th:text='${spitter.username}'></label>
	<br />
	<label th:text='${spitter.firstName}'></label>
	<label th:text='${spitter.lastName}'></label>


</body>
</html>